* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1b2838, #0f2027);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* الكونتينر */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* الفورم */
.login-form {
    background: #171a21;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.login-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* inputs */
.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #2a475e;
    color: white;
    transition: 0.3s;
}

.input-group input:focus {
    background: #3b6a8c;
}

/* options */
.options {
    color: #ccc;
    margin-bottom: 15px;
}
.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    font-size: 18px;
}

.toggle-password:hover {
    color: white;
}
/* زرار */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #66c0f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4da3d9;
}
.social-login {
    margin-top: 15px;
}

.social-login button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.facebook {
    background: #1877f2;
}

.github {
    background: #333;
}
p{
  color:white;
    text-align: center;
    margin-top: 15px;
}
